@import "tailwindcss";

@theme {
  --font-serif: var(--font-tiro-bangla), serif;

  --color-brand-red: #d0021b;
  --color-brand-orange: #f59e0b;
  --color-brand-green: #10b981;

  --color-bg-subtle: #f3f4f6;
}

:root {
  --background: #ffffff;
  --foreground: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
